body{
    background-image: url(https://courses.cs.washington.edu/courses/cse190m/11sp/labs/2/images/background.gif);
    margin-left: 10%;
    margin-right: 10%;
}

span{
    border-bottom: 2px dashed lightblue;
}

.whole_container{
    background-color: white;
    border: 10px solid white;
}
.content{
    background-color:#E8FBFB;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
    border: #C2E9E9 solid 4px;
}

.content img{
    float: right;
}

.title{
    text-align: right;
    background-color: #A8F0F0;
    border: none;
}

.title > h2{
    border: none;
    font-size: 14pt;
}

.main{
    display: flex;
}

.sidebar {
    padding: 5px;
    margin: 10px 10px 0 0;
    border: 5px #C2E9E9 solid;
    background-color: #E8FBFB;
    height : 200px;
}